h1 {
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  color: #009688;
}

body {
  background-color: #f7d794;
}

input {
  width: 916px;
  display: block;
  font-weight: bold;
  font-size: 1.8em;
  padding: 10px;
}

form {
  width: 100%;
}

#button {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 1.8em;
  padding: 10px;
  background-color: #ea8685;
  color: #FFFFFF;
  border-width: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tasklistheader {
  background-color: #e66767;
  text-align: center;
  padding-top:20px;
  color: #FFFFFF;
}

.tasklist{
  display: flex;
  flex-wrap: wrap;
}

.task_container  {
  min-width: 15vw;
  flex: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 110px;
  margin-top: 10px;
  background-color: #FFFFFF;
  border-top: 10px solid #e66767;
}

.task {
  text-align: justify;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.4em;
  height: 60px;
}

.task_action {
  text-align: right;
  margin-right: 10px;
  font-size: 1.4em;
  height: 40px;
}

.task_action > button {
  padding: 10px;
  background-color: #c44569;
  color: #FFFFFF;
  border-width: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

.tasklist > p {
  text-align: center;
  font-size: 1.8em;
  margin-top: 20px;
}

#removebutton{
  background-color: tomato;
}

h1{
  color:#303952;
}